@font-face {
    font-family: Inter;
    src: url(fonts/Inter_28pt-Regular.ttf);
}
.container-fluid {
    background-color: #111827;
    color: #D1D5DB;
}
.name {
    font-size: 20px;
    font-weight: 600;

}
.section-title1 {
    border-radius: 12px;
    background-color: #374151;
    height: 28px;
    padding: 4px 20px 4px 20px;
    gap: 0px;
    opacity: 0px;
    color: #D1D5DB;
    text-align: center;
}

.testimonial-card {
    background-color: #1F2937;
    color: #D1D5DB;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.testimonial-card .icon {
    font-size: 40px;
    color: #D1D5DB;
    text-align: center;
}
.section-title {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration-skip-ink: none;
    margin-bottom: 30px;
}
img {
    width: 100%;
}

.founder {
    text-align: center;
}
.testimonial-section {
    padding: 40px 0;
}
.text-center .border {
    width: 105px;
    border-radius: 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
@media screen and (max-width: 390px) {
    div.col-6 {
        text-align: center;
        margin-right: 100px;
    }
    .testimonial-card {
        margin-bottom: 20px;
    }
}